body {
    background-color: rgb(231, 186, 171);
    margin: 0;
}

p {
    border: 1px solid coral;
}

h1{
    text-align: center;
}

.navbar{
  overflow: hidden;
  background-color: indianred;
  position: initial;
  bottom: 0;
  width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: rgb(104, 68, 68);
    color: black;
  }

  .navbar a.active {
    background-color: rgb(133, 69, 69);
    color: rgb(104, 68, 68);
  }

  div.gallery {
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 35%;
}

div.desc {
    padding: 10px;
    text-align: center;
}

.button {
    background-color:rgb(104, 68, 68);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:inherit;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
 
