body {
    background-color: rgb(231, 186, 171);
    margin: 0;
}

p {
    border: 1px solid coral;
}

h1{
    text-align: center;
}

.navbar{
  overflow: hidden;
  background-color: indianred;
  position: initial;
  bottom: 0;
  width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: rgb(104, 68, 68);
    color: black;
  }

  .navbar a.active {
    background-color: rgb(133, 69, 69);
    color: rgb(104, 68, 68);
  }

  .main {
    padding: 16px;
    margin-bottom: 30px;
  }